html, .container-fluid, .row {
  margin:  0;
  padding: 0;

}


/*
light green #158467
dark green #197163
darker green #197163
*/


body{
  background-color: #fadcac;
  color: black;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Great Vibes', cursive;
}
